.musica {
  display: flex;
  flex-direction: column;
  margin: 5px 3px;
  padding: 10px;
  background-color: #7c7c7c;
  color: #fff;
  border-radius: 5px;
  min-width: 200px;
}

.musica:hover {
  background-color: teal;
}

.musicaDeletada {
  display: none;
}

.nome {
  flex-grow: 1;
  font-size: 30px;
  font-weight: bold;
}

.rodape {
  display: flex;
  flex-direction: row-reverse;
}

.curtir {
  border-radius: 5px;
}

.curtiu {
  border-radius: 50px;
}
