.playlist {
  display: flex;
  flex-direction: column;
  margin: 5px 3px;
  padding: 10px;
  background-color: #7c7c7c;
  color: #fff;
  border-radius: 5px;
  min-width: 200px;
}

.playlist:hover {
  background-color: teal;
}

.nome {
  flex-grow: 1;
  font-size: 30px;
  font-weight: bold;
}

.criador {
  font-size: 20px;
}

.data_da_criacao {
  font-size: 15px;
}
