.artista {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  margin: 5px 3px;
  padding: 10px;
  background-color: #7c7c7c;
  color: #fff;
  width: 265px;
  border-radius: 10px;
}

.artista:hover {
  background-color: #e04700;
}

.artistaDeletado {
  display: none;
}

.nome_artistico {
  font-size: 30px;
  font-weight: bold;
}

.ano_de_formacao {
  font-size: 15px;
  margin-bottom: 10px;
}

.biografia {
  font-size: 18px;
  max-height: 62px;
  overflow: hidden;
}
  