.artista {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  margin: 5px 3px;
  padding: 10px;
  background-color: #7c7c7c;
  color: #fff;
  width: 265px;
  border-radius: 10px;
}

.artista:hover {
  background-color: #e04700;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.nome_artistico {
  flex-grow: 1;
  font-size: 30px;
  font-weight: bold;
}

.seguir {
  height: 25px;
  font-size: 15px;
  border: 0px;
  border-radius: 7px;
  padding: 0px 5px;
  cursor: pointer;
  background-color: white;
}

.seguindo {
  height: 25px;
  font-size: 15px;
  border: 0px;
  border-radius: 7px;
  padding: 0px 5px;
  cursor: pointer;
  background-color: white;
}

.ano_de_formacao {
  font-size: 15px;
  margin-bottom: 10px;
}

.biografia {
  font-size: 18px;
  max-height: 62px;
  overflow: hidden;
}
  