.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.campo {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px;
}

.botaoEnviar {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
}
