.container {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  min-height: 100vh;
  padding: 0 0;
}

.main {
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
